:root {
  --title-color: #060606;
  --text-color: #555;
  --main-color: #f0f2f5;
  --secondary-color: #e4e6e8;
  --white-color: #ffffff;
  --grey-light: #d8dadf;

  --body-color: #18191a;
}

.dark-theme {
  --white-color: #242526;
  --main-color: #18191a;
  --secondary-color: #060606;
  --text-color: #fff;
  --title-color: #fff;
  --grey-light: #333436;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: var(--main-color);
  transition: background 0.4s ease;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--white-color);
  padding: 5px 50px;
  height: 60px;

  position: sticky;
  top: 0;
  z-index: 999;
}

#dark-btn {
  position: absolute;
  top: 30px;
  right: 20px;
  background: #ccc;
  width: 45px;
  border-radius: 15px;
  padding: 2px 3px;
  cursor: pointer;
  display: flex;
  transition: padding-left 0.4s, background 0.4s;
}
#dark-btn span {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline-block;
  background: #fff;
}
#dark-btn.dark-btn-on {
  padding-left: 23px;
  background: #060606;
}

.logo {
  cursor: pointer;
  width: 160px;
}

.nav-center,
.nav-right {
  display: flex;
  align-items: center;
}
.nav-center .search-box {
  background: var(--main-color);
  display: flex;
  align-items: center;

  width: 600px;
  height: 50px;
  border: none;
  border-radius: 25px;
  padding: 5px 10px;
  outline: none;
  font-size: 1rem;
  transition: all 0.4s ease;
}
.search-box:hover {
  background: var(--secondary-color);
}
.search-box i {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-right: 5px;
}
.search-box input {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  font-size: 1rem;
}
.setitings-menu {
  position: absolute;
  width: 90%;
  max-width: 350px;
  height: 500px;
  background: var(--white-color);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  top: 60px;
  right: 50px;
  padding: 1rem 0.5rem 0.2rem 0.5rem;
  display: none;
  transition: all 0.4s ease;
}

.config-perfil {
  width: 100%;
  padding: 0.3rem;
  background: var(--white-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  margin-bottom: 20px;
}
.config-perfil .perfil-co {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}
.config-perfil .perfil-co:hover {
  background: #f2f2f2;
  border-radius: 8px;
}
.config-perfil img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 5px;
}
.config-perfil h3 {
  font-weight: 600;
  font-size: 1.3rem;
  margin-left: 10px;
  color: var(--title-color);
}
.config-perfil hr {
  margin-top: 5px;
  color: var(--secondary-color);
}
.info-perfil {
  margin-top: 5px;
  padding: 0.5rem 0;
}
.info-perfil a {
  text-decoration: none;
  color: #1876f1;
  padding: 0.5rem 0.2rem;
  font-size: 15px;
  margin-left: 5px;
}
.info-perfil:hover {
  background-color: #f2f2f2;
  border-radius: 8px;
}

.nav-right ul li {
  list-style: none;
  display: inline-block;
  margin-left: 10px;
  position: relative;
}

.nav-right ul li img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.background-icon1 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--secondary-color);
  line-height: 40px;
  padding: 8px;
  transition: all 0.4s ease;
}
.background-icon2 {
  width: 30px;
  height: 30px;
  border-radius: 50% !important;
  background-color: var(--grey-light) !important;
  padding: 8px;
}
.background-icon1:hover {
  background: var(--grey-light);
}

.nav-right ul li .notification {
  position: absolute;
  top: -12px;
  right: -7px;
  background: #e41e3f;
  color: var(--white-color);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-user-icon img {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 10px;
}

/* CONTAINER */
.container {
  display: flex;
  justify-content: space-between;
  padding: 0.12rem 50px;
  /* background: #f0f2f5; */
  margin: 0 auto;
}
.left-sidebar {
  flex-basis: 25%;
  position: sticky;
  top: 10px;
  align-self: flex-start;
}
.right-sidebar {
  flex-basis: 25%;
  position: sticky;
  top: 10px;
  align-self: flex-start;
}
.main-content {
  /* background: var(--white-color); */
  flex-basis: 47%;
  padding: 0 1rem;
}

/* LEFT SIDEBAR */
.important-links {
  margin-top: 20px;
}
.important-links a,
.menu-config-perfil a,
.groups-links a,
.groups-links a,
.groups-shortcuts a {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  transition: all 0.4s ease;
  padding: 0.5rem 0 0.5rem 0.3rem;
  color: var(--text-color);
}
.effect a:hover {
  background: var(--secondary-color);
  /* padding: 0.5rem 0 0.5rem 0.3rem; */
  /* width: 100%; */
  border-radius: 5px;
}
.important-links a img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
}
.line {
  border-bottom: 1px solid #96989b;
  margin: 8px 0;
  width: 100%;
}

.groups-links a img,
.groups-shortcuts a img {
  width: 30px;
  border-radius: 5px;
  margin-right: 10px;
}
.notification-groups {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #069731;
  position: absolute;
  border: 2px solid var(--white-color);
  top: 30px;
  left: 30px;
}

/* RIGHT SIDEBAR */
.right-sidebar {
  max-height: calc(100vh - 64px);
  overflow-y: auto;
  scroll-behavior: smooth;
}
.right-sidebar::-webkit-scrollbar-track {
  background: #bcc0c4;
}
.right-sidebar::-webkit-scrollbar {
  width: 7px;
}
.right-sidebar::-webkit-scrollbar-thumb {
  background: #b4b6b8;
  border-radius: 20px;
}
.right-sidebar:hover::-webkit-scrollbar-thumb {
  background: #bcc0c4;
}

.sidebar-content {
  margin-top: 20px;
}
.sidebar-content h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--title-color);
}
.sidebar-content .adverts {
  margin-top: 10px;
  width: 100%;
  height: 125px;
  border-radius: 8px 0 0 8px;
  padding: 6px;

  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.4s ease;
}
.sidebar-content .adverts img {
  width: 40%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}
.sidebar-content .adverts p {
  margin-left: 10px;
  color: var(--text-color);
  font-weight: 300;
  font-size: 1rem;
}
.adverts:hover {
  background: var(--secondary-color);
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}
.adverts .three-dots {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--secondary-color);
  top: 4px;
  right: 0px;
}
.adverts .three-dots i {
  font-size: 1.5rem;
  color: var(--text-color);
  text-align: center;
  line-height: 40px;
  margin-bottom: 4px;
  margin-left: 6px;
}
.three-dots:hover {
  background: var(--white-color);
  cursor: pointer;
}

/* CONTACT */
.contact-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-icons i {
  font-size: 1.5rem;
  color: var(--text-color);
  padding: 8px;
  transition: all 0.4s ease;
}
.contact-icons:first-child {
  margin-left: 10px;
}
.contact-icons i:hover {
  background: var(--secondary-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.contact-list {
  display: flex;
  align-items: center;
  padding: 5px 8px;
  position: relative;
}
.contact-list p {
  padding: 10px 0;
  color: var(--text-color);
}
.contact-list:hover {
  background: var(--secondary-color);
  /* width: 100%; */
  border-radius: 5px;
  cursor: pointer;
}

.contact-list .online-list {
  margin-right: 10px;
  width: 30px;
  border-radius: 50%;
}
.contact-list .online-list img {
  width: 30px;
  border-radius: 50%;
}
.contact-list .online-list::after {
  top: unset;
  bottom: 15px;
}
.online-user {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #069731;
  position: absolute;
  border: 1.5px solid var(--white-color);
  top: 30px;
  left: 30px;
}

.sidebar-content {
  margin-top: 20px;
}
.sidebar-content .new-group {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 5px 8px;
  transition: all 0.4s ease;
}
.sidebar-content .new-group i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  background: var(--secondary-color);
  font-size: 18px;
  text-align: center;
  line-height: 40px;
}
.sidebar-content .new-group p {
  color: var(--text-color);
  font-weight: 300;
  font-size: 1rem;
}
.sidebar-content .new-group:hover {
  background: var(--grey-light);
  border-radius: 5px;
  cursor: pointer;
}

/* MAIN  */
.story-galery {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
.story {
  flex-basis: 18%;
  padding-top: 32%;

  background-position: center;
  background-size: cover;
  border-radius: 10px;
  position: relative;
}
.story img {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  top: 10px;
  left: 10px;
  border: 4px solid #1876f1;
  /* text-align: center; */
}
.story p {
  position: absolute;
  width: 100%;
  /* left: 17px; */
  bottom: 10px;
  text-align: center;
  color: var(--white-color);
  font-weight: bold;
  font-size: 14px;
}
.story1 img:first-child {
  left: 50%;
  top: unset;
  bottom: 30px;
  border: 0;
  width: 40px;
  transform: translateX(-50%);
}
.story1 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
    url("/images/status-1.png");
  cursor: pointer;
}
.story2 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
    url("/images/status-2.png");
  cursor: pointer;
}
.story3 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
    url("/images/status-3.png");
  cursor: pointer;
}
.story4 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
    url("/images/status-4.png");
  cursor: pointer;
}
.story5 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
    url("/images/status-5.png");
  cursor: pointer;
}
.online {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #069731;
  position: absolute;
  border: 2px solid var(--white-color);
  top: 35px;
  left: 40px;
}

.my-post {
  width: 100%;
  height: auto;
  background-color: var(--white-color);
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  margin: 10px 0;
}
.my-post img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}
.my-post .post-top {
  display: flex;
  align-items: center;
}
.my-post .post-top input {
  width: 90%;
  padding: 10px 20px;
  border: none;
  outline: none;
  font-size: 1rem;
  margin-left: 10px;
  background-color: var(--main-color);
  border-radius: 20px;
  transition: all 0.4s ease;
}
.my-post .post-top input:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}
.my-post hr {
  width: 100%;
  height: 1px;
  background-color: #96989b;
  border: none;
  margin: 10px 0;
}
.my-post .post-bottom {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px auto;
}
.my-post .post-bottom .post-bottom-item {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 10px 20px;
  cursor: pointer;
}
.my-post .post-bottom .post-bottom-item:hover {
  background-color: #f2f2f2;
  border-radius: 5px;
}
.my-post .post-bottom .post-bottom-item i.red {
  font-size: 2rem;
  margin-right: 6px;
  color: #e0245e;
}
.my-post .post-bottom .post-bottom-item i.green {
  font-size: 2rem;
  margin-right: 6px;
  color: #42b72a;
}
.my-post .post-bottom .post-bottom-item i.yellow {
  font-size: 2rem;
  margin-right: 6px;
  color: #fbbc05;
}
.my-post .post-bottom .post-bottom-item p {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--text-color);
}

/* POST */
.write-post-container {
  width: 100%;
  height: auto;
  background-color: var(--white-color);
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  margin-bottom: 30px;
}
.write-post-container .user-profile {
  display: flex;
  align-items: center;
  /* margin-top: 10px; */
  position: relative;
}
.write-post-container .user-profile img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}
.user-profile .user-info p {
  font-weight: 600;
}
.user-profile .user-info p:hover {
  text-decoration: underline;
  cursor: pointer;
}
.user-profile .user-info small {
  font-size: 0.8rem;
  color: #7f8185;
}
.write-post-container .user-profile .icons-menu-profile {
  position: absolute;
  right: 0;
  top: -5;
  padding: 5px;
}
.write-post-container .user-profile .icons-menu-profile i {
  font-size: 1.5rem;
  color: var(--text-color);
  padding: 8px;
  transition: all 0.4s ease;
  cursor: pointer;
}
.write-post-container .user-profile .icons-menu-profile i:hover {
  background: var(--secondary-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.post-text {
  color: var(--text-color);
  font-size: 0.9rem;
  line-height: 25px;
  margin: 10px 0;
}
.post-text a {
  color: #1876f1;
  text-decoration: underline;
  cursor: pointer;
}
.post-img {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.post-coments {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  margin-bottom: 10px;
  transition: all 0.4s ease;
}
.post-coments i {
  width: 24;
  height: 24;
  background-color: #1876f1;
  border-radius: 50%;
  margin-right: 6px;
  padding: 3px;
  color: var(--white-color);
  cursor: pointer;
}
.post-coments span {
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--text-color);
}
.post-coments span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.write-post-container hr {
  width: 100%;
  height: 1px;
  background-color: #96989b;
  border: none;
  /* margin: 10px 0; */
}
.post-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
}
.post-row .post-row-item {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 10px 20px;
  cursor: pointer;
}
.post-row .post-row-item p {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--text-color);
}
.post-row .post-row-item i {
  font-size: 1.5rem;
  margin-right: 6px;
  color: var(--text-color);
}
.post-row .post-row-item:hover {
  background-color: #f2f2f2;
  border-radius: 5px;
}
.footer {
  text-align: center;
  padding: 10px;
  color: var(--secondary-color);
  font-size: 13px;
}

.bg-config {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--grey-light);
  padding: 6px;
  margin-right: 5px;
}
.menu-config-perfil > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-config-perfil i {
  font-size: 2rem;
  color: var(--text-color);
  cursor: pointer;
}
.menu-config-perfil {
  margin-bottom: 5px;
}
.menu-config-perfil > div:hover {
  background-color: #f2f2f2;
  border-radius: 5px;
}
.menu-config-perfil span {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--text-color);
}
.menu-config-perfil span:hover {
  text-decoration: underline;
  cursor: pointer;
}
